@import "vars";
@import "fonts";
@import "global";

//-----------------------------------------------------------------------------------------------------------
//
//                                                    START CODE
//
//-----------------------------------------------------------------------------------------------------------

// header start

.header {
    max-width: 100%;
    background-image: url(../images/logo-bg.jpg);
    max-height: 128px;
    display: flex;
    justify-content: space-between;
    padding: 28px 58px 30px 100px;

    &__list {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        transform: translateY(0%);
        transition: linear 0.5s;
    }

    &__list.off {
        transform: translateY(-200%);
        opacity: 0;
    }

    &__item {
        a {
            color: #ffffff;
            @include semi-b;
            font-size: 18.9px;
            line-height: 18.52px;
            padding-right: 70px;
        }
    }

    &__item--active {
        a {
            color: $yellow;
        }
    }

    &__menu-btn {
        position: relative;

        &::before {
            position: absolute;
            content: "";
            background-image: url(../images/icons/menu-ico.svg);
            width: 48px;
            height: 39px;
            right: 0;
            top: -30px;
        }
    }
}

// header end
// like-slider star

.like-slider {
    height: 890px;
    background-color: $yellow;

    &__inner {
        padding-top: 30px;
        padding-left: 70px;
        text-align: center;
        align-items: center;
        background-repeat: no-repeat;
    }

    &__item {
        width: 100%;
        background-position: center;
        position: relative;
        outline: transparent;
    }

    &__item-text-wrapper {
        position: absolute;
        text-align: center;
        top: 163px;
        // right: 410px;
        left: 715px;
        width: 100%;
        max-width: 705px;
    }

    &__item-title {
        font-size: 130.56px;
        line-height: 94.84px;
        @include black;
        width: 100%;
        max-width: 705px;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 40px;
    }

    &__item-text {
        @include reg;
        font-size: 19.3px;
        max-width: 555px;
        padding-bottom: 50px;
        padding-left: 75px;
    }

    &__item-link {
        color: #ffffff;
        position: relative;
        z-index: 1;
        @include black;
        font-size: 19px;
        line-height: 14px;
        margin-left: -19px;

        &::before {
            position: absolute;
            content: "";
            background-image: url(../images/link-bg.svg);
            width: 195px;
            height: 42px;
            z-index: -1;
            top: -10px;
            right: -42px;
        }
    }
}

.slick-dots {
    display: flex;
    justify-content: center;
}

.slick-dots li button {
    border: none;
    background-color: #0c0c0c;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
    width: 17px;
    height: 17px;

}



// like-slider end

//-----------------------------------------------------------------------------------------------------------
//
//                                                    END CODE
//
//-----------------------------------------------------------------------------------------------------------

@import "media";
